.hamburger-icon {
  width: 26px;
  height: 25px;
  background-repeat: no-repeat;
  background-image: url(./img/sprite.png);
  background-position: -173px -36px; }
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
    .hamburger-icon {
      background-image: url(./img/sprite@2.png);
      background-size: 378px 66px; } }

.hamburger-icon:hover {
  width: 26px;
  height: 25px;
  background-repeat: no-repeat;
  background-image: url(./img/sprite.png);
  background-position: -173px -5px; }
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
    .hamburger-icon:hover {
      background-image: url(./img/sprite@2.png);
      background-size: 378px 66px; } }
