$font-stack: Georgia, serif;
$base-font-size: 16px;
$orange: #FF8F4D;
$gray: #979797;
$white: #FFFFFF;

body {
  font-family: $font-stack;
  font-size: $base-font-size;
  color: $gray;
}

a {
  text-decoration: none;
  color: inherit;
}

/* type scale is 3:4 */

h1 {
  font-size: 2.369em;
}

h2 {
  font-size: 1.777em;
}

h3 {
  font-size: 1.333em;
}


/* utilitie classes */

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

/* Components */

.container {
  max-width: 960px;
  margin: 0 auto;
}
.container:after {
  content: '';
  display: table;
  clear: both;
}

.nav-left {
  float: left;
}

.nav-right {
  float: right;
}

.header {
  padding: 25px 15px;

}

.sub-nav {

  .container {
    padding: 25px 0;
  }

  .nav-left {
    padding-left: 25px;
  }

  .nav-right {
    padding-right: 25px;
  }

  h1 {
    display: inline-block;
    margin: 0;
    color: $orange;
    font-weight: 300;
    font-size: 28px;
    letter-spacing: 2.5px;
  }

  span {
    font-weight: 300;
    letter-spacing: 2px;
    margin-left: 20px;
  }

  .sub-nav-list {
    margin: 0;
    padding: 0;
  }

  .nav-item {

    height: 32px;
    padding-top: 8px;

    display: inline-block;

    span {
      margin-left: 10px;
      vertical-align: middle;
    }
  }

  .nav-item:hover {
    color: $orange;
    cursor: pointer;
  }
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  .list-panel {
    border: 1px solid $gray;
    height: 180px;
    width: 287px;
    margin: 24px 0 0 24px;
    padding: 20px;
    box-sizing: border-box;
  }
}

.deck-list {

  .deck-list-panel {

    h2 {
      font-size: 21px;
      font-weight: 300;
      letter-spacing: 1.5px;
      margin: 0;
    }

    .panel-popup {
      position: relative;
      margin-top: 90px;
      visibility: hidden;
    }

    .panel-popup-content {
      position: absolute;
      top: 19px;
    }
  }

  .deck-list-panel:hover {
    color: $orange;
    border: 1px solid $orange;
    transition: .2s;
    cursor: pointer;

    .panel-popup {
      visibility: visible;
    }

    .panel-popup-content {
      top: 0;
      transition: .2s;
    }
  }
}

.card-list {

  .card-list-panel {
    h2 {
      font-size: 16px;
      color: $gray;
      font-weight: 300;
      letter-spacing: .5px;
      margin-top: 20px;
    }

    h3 {
      font-size: 16px;
      color: $orange;
      font-weight: 300;
      letter-spacing: .5px;
      margin: 0;
    }

    .panel-popup {
      position: relative;
      margin-top: 30px;
      visibility: hidden;
    }

    .panel-popup-content {
      position: absolute;
      top: 19px;
    }
  }

  .card-list-panel:hover {
    color: $orange;
    border: 1px solid $orange;
    transition: .2s;
    cursor: pointer;

    .panel-popup {
      visibility: visible;
    }

    .panel-popup-content {
      top: 0;
      transition: .2s;
    }
  }
}

.card-detail-container {
  display: flex;
  justify-content: center;
}

.card-detail-item {
  border: 1px solid $gray;
  width: 90%;
  max-width: 631px;
  height: 376px;
  padding: 30px;
  box-sizing: border-box;

  label {
    display: block;
    margin-bottom: 5px;
  }

  label.focused {
    color: $orange;
  }

  textarea {
    width: 99%;
    height: 100px;
    border: 1px solid $gray;
    color: $gray;
    resize: none;
    overflow: scroll;
  }

  textarea:focus {
    border: 1px solid $orange;
    outline: none;
    color: $orange;
  }

  .button-group {
    float: right;
    margin-top: 15px;

    .button {
      margin-left: 10px;
    }
  }
}

.button {
  width: 145px;
  height: 36px;
  background-color: $white;
  border: 1px solid $orange;
  color: $orange;
}

.button:hover {
  cursor: pointer;
}

.button:focus {
  outline: 0;
}

.button-primary {
  color: $white;
  background-color: $orange;
}
