@mixin cssSprite( $spriteVals ) {
	width: nth( $spriteVals, 1 );
	height: nth( $spriteVals, 2 );
	background-repeat: no-repeat;
	background-image: url( #{ nth( $spriteVals, 3 ) } );
	background-position: nth( $spriteVals, 4 ) nth( $spriteVals, 5 );
	@media only screen and ( -webkit-min-device-pixel-ratio: 2 ), only screen and ( min-device-pixel-ratio: 2 ) {
		background-image: url( #{ nth( $spriteVals, 6 ) } );
		background-size: $bgiSizeW $bgiSizeH;
	}
}
$spritePath: '../assets/img/sprite';
$spriteURL: $spritePath + '.png';
$spritex2URL: $spritePath + '@2.png';
$bgiSizeW: 378px;
$bgiSizeH: 66px;
$hamburger-icon: 26px 25px $spriteURL -173px -36px $spritex2URL;
$delete-card-icon: 30px 19px $spriteURL -133px -39px $spritex2URL;
$new-card-icon: 30px 19px $spriteURL -93px -39px $spritex2URL;
$delete-card-icon: 34px 23px $spriteURL -49px -38px $spritex2URL;
$add-deck-icon: 34px 23px $spriteURL -5px -38px $spritex2URL;
$hamburger-icon-orange: 26px 25px $spriteURL -173px -5px $spritex2URL;
$delete-card-icon-hover: 30px 19px $spriteURL -133px -8px $spritex2URL;
$new-card-icon-hover: 30px 19px $spriteURL -93px -8px $spritex2URL;
$delete-deck-icon-hover: 34px 23px $spriteURL -49px -5px $spritex2URL;
$add-deck-icon-hover: 34px 23px $spriteURL -5px -5px $spritex2URL;
$brand: 167px 25px $spriteURL -218px -20px $spritex2URL;

.icon {
  display: inline-block;
}

.hamburger-icon {
  @include cssSprite($hamburger-icon-orange);
}
